.Carrito-Card{
    z-index: 1;
    display: flex;
    width: 1000px;
    height: 150px;
    padding: 20px auto;
    margin: 20px auto;
    border-top: solid 2px #FF4500;
    box-shadow:  0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}